.app__main Bee_appMain__2StFN Bee_appMainFull__zNRpw {
    top: 70px;
    height: calc(100% - 70px);
    background-color: black;
}

div#bee-plugin-container__bee-plugin-loader {
    background-color: transparent !important;
}
